
Gestalt/GoogleService-Info.plist

Pods/Pods.xcodeproj/xcuserdata/alexeychekanov.xcuserdatad/xcschemes/xcschememanagement.plist

*.plist

gestalt-it-firebase-crashreporting-1so50-06613dd680.json

*.plist

Gestalt/Info.plist
